@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  --font-main: "Geist", sans-serif;
  --color-lightGray: #F1F2F499;
  --color-gray: #5E6670;
  --color-primary: #0A65CC;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

.px-5pct {
  padding: 5%;
}
